<!-- views/editar.ejs -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Editar fabricante</title>
		<link rel="stylesheet" type="text/css" href="/styles.css" />
	</head>
	<body>
		<h1>Editar fabricante</h1>
		<form action="/editarfabricantes/<%= fabricante.id %>" method="post">
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" name="nombre" value="<%= fabricante.nombre %>" required />
			<br /><br />
			<input type="submit" value="Guardar" />
		</form>
	</body>
</html>
